.threeDotsButton {
  margin-left: 0%;
  box-sizing: border-box;
  color: gray;
  height: 100%;
  aspect-ratio: 1;
  border-radius: 8px;
  background-color: rgba(20, 42, 59, 0.9);
  .icon {
    width: 150%;
    height: 150%;
    color: white;
  }
  &:hover {
    background-color: #142a3b;
  }
}
.threeDotsButton_Toggled {
  margin-left: 0%;
  box-sizing: border-box;
  color: #0997eb;
  height: 100%;
  aspect-ratio: 1;
  border-radius: 8px;
  background-color: rgba(20, 42, 59, 0.9);
  .icon {
    width: 150%;
    height: 150%;
    color: #0997eb;
  }
  &:hover {
    background-color: #142a3b;
  }
}
